out
node_modules
.env
coverage
coverage.json
typechain
*.DS_Store

# Hardhat files
cache
artifacts

# Audit related files
audits/*/analysis/slither_data-dependency.txt
audits/*/analysis/slither_function-summary.txt
