[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
	branch = v7
[submodule "lib/fx-portal"]
	path = lib/fx-portal
	url = https://github.com/0xPolygon/fx-portal
